server:
  port: ${PORT:0}

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
  client:
    service-url:
      defaultZone: http://${NAME_SERVER}/eureka

spring:
  application:
    name: product-service

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${HOST}/${DATABASE}?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
    username: ${USER_DATABASE}
    password: ${PASS_DATABASE}

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

directory:
  photo:
    product: ${PRODUCT_PHOTO_DIRECTORY}
    category: ${CATEGORY_PHOTO_DIRECTORY}



